.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-border-color;
}

.header--logo {
  margin-right: 93px;
}
.blue-text {
  color: $button-hover-color;
}

.nav {
  // .nav__list

  &__list {
    display: flex;
    gap: 50px;
  }

  // .nav__item

  &__item {
  }

  // .nav__link

  &__link {
    display: block;
    padding: 32px 0;
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: color 250ms $timing-function;

    &[href="#"] {
      color: $button-hover-color;
      &::after {
        content: "";
        position: absolute;

        display: block;
        width: 100%;
        height: 5px;
        bottom: 0;

        border-radius: 2px;
        background-color: $button-hover-color;
      }
    }
    &:hover,
    &:focus {
      color: $button-hover-color;
      fill: $button-hover-color;
    }
  }
}
.header--nav {
  margin-right: 344px;
}
.contakts {
  display: flex;
  gap: 30px;
  // .contakts__item

  &__item {
  }

  // .contakts__link

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $secondary-text-color;
    fill: $secondary-text-color;

    transition: color 250ms $timing-function, fill 250ms $timing-function;

    &:hover,
    &:focus {
      color: $button-hover-color;
      fill: $button-hover-color;
    }
  }
}
.mail-icon {
  width: 16px;
  height: 12px;
}
.phone-icon {
  width: 10px;
  height: 16px;
}
