.we-working {
  // .we-working__title

  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }

  // .we-working__list

  &__list {
    display: flex;
  }

  // .we-working__item

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  // .we-working__thumb

  &__thumb {
    position: relative;

    &::before {
      display: inline-block;
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }

  // .we-working__img

  &__img {
    width: 370px;
  }

  // .we-working__text

  &__text {
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translate(-50%, 0);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}
.section {
}
.container {
}
