html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  vertical-align: top;
}
html,
body {
  margin: 0;
  box-sizing: inherit;
  height: 100%;
  font-family: $main-font, $alternative-font, sans-serif;
  font-size: 16px;
  color: $primary-text-color;
  background-color: $primary-white-color;
}
