$main-font: Roboto;
$alternative-font: Raleway;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-white-color: #ffffff;
$secondary-white-color: #f5f5f5;
$button-hover-color: #2196f3;
$dark-bg-color: #2f303a;
$gray-bg-color: #f5f4fa;
$gray-border-color: #ececec;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
