.clients {
  // .clients__title

  &__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 33px;
    line-height: calc(28 / 33);
    text-align: center;
    letter-spacing: 0.03em;
  }

  // .clients__list

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  // .clients__item

  &__item {
    // display: flex;
  }

  // .clients__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;

    @media (min-width: 768px) {
      width: 226px;
    }
    @media (min-width: 1200px) {
      width: 170px;
    }

    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
    fill: #afb1b8;

    transition: fill 250ms $timing-function, border-color 250ms $timing-function;

    &:hover,
    &:focus {
      border-color: $button-hover-color;
      fill: $button-hover-color;
    }
  }
}
